<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="AwsAccessKeyId" value="AKxxJQSUxxxxxxxxx" />
		<add key="AwsAccessKeySecret" value="Hx9FxxxxxxxxxxxxxxxxxxxxxxxflqBdx" />
		<add key="AwsRegion" value="us-xxxx-1" />
		<add key="KinesisStreamName" value="whatever-your-name-is" />
		<add key="FirehoseStreamName" value="whatever-your-name-is" />
	</appSettings>
</configuration>
